
/* ----------------Responsive For tablet--------------- */

@media screen and (max-width : 500px) {

          /* -------------nav---------- */
          .navbar {

                    flex-direction: column;
          }

          nav .nav-container {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 20px auto 0;
                    width: 100%;
          }

          .nav-title {
                    font-size: 25px;

                    margin-top: 9px;
          }

          nav .nav-title {
                    width: 50%;
                    justify-content: center;
                    /* border: 2px solid red; */
          }

          .nav-container a {
                    margin-top: 20px;
          }

          .nav-container .login {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 10px;

          }

          /* --------banner------  */
          .banner-container {
                    flex-direction: column;
          }

          .banner-text,
          .banner-img {
                    width: 100%;
          }

          .banner-text h1 {
                    font-size: 30px;
          }

          .banner-text p {
                    font-size: 25px;
          }

          .fa-brands {
                    font-size: 20px;
          }

          .banner-button {
                    size: 10px;

          }
}